{% extends 'template.html' %}
{% load static %}

{% block title %}База знаний Knowledges{% endblock %}
{% block page_title %}База знаний Knowledges{% endblock %}

{% block content %}
<script src="{% static 'pages/extern/mermaid.min.js' %}"></script> 
<script>
    mermaid.initialize({ startOnLoad: true });
</script>

<!--
<p>
    Цифровое пространство, способствующее развитию Вашх проектов. В нём пока всего несколько модулей:
    - Проекты
    - Встречи - позволяют сделать встречи более предмето-ориентированными и эффективными для выработки решений.
</p>
-->

<p>На сегодняшний день множество результатов исследований, выполненных маленькими командами университетов и одиночками, так и остаются недоступными широкому кругу исследователей. Часто значимые мысли, решения частых проблем в какой-либо задаче так и хранятся в виде локальных документаций или потерянных заметок, пропадающих после смерти человека или распада организации.</p>

<p>Цель Базы знаний - объединить максимально возможный объём знаний в единое распределённое хранилище, доступ к которому будет предоставляться из самых разнообразных систем (чатов, приложений). Цель объединения знаний - перевести обмен опытом между лабораториями, исследователями-одиночками, населением и самообучаемым искусственным интеллектом в режим реального времени. </p>

<p>Весьма упрощённая схема Базы знаний представлена на картинке:</p>

<div class="mermaid">
    flowchart TD
    A[Роботы с ИИ]
    B[Датчики]
    C[Знания]
    D[Люди]
    E[Организации]
    Z[(Хранилище заметок\nZettelkasten)]
    click Z "https://habr.com/ru/post/508672/" _blank
	
    A -.->|опыт| Z
    B -.->|статистика| Z
    C -.->|книги,\nнаучные статьи| Z
    D -.->|мысли, идеи,\nпланы, биометрия| Z
    E -.->|планы, проекты,\nпротоколы собраний| Z
</div>

<p>Содержимое данного сайта также будет расположено в хранилище заметок.</p>

<p>На картах некоторые объекты являются ссылками, нажав нак оторые можно попасть на сайт программы или репозитории исходных кодов, например. Пунктирными линиями обозначены планируемые связи. </p>

{% endblock %}