{% extends 'template.html' %}

{% block title %}
    {% if form_aim.instance.id %} <a style="text-decoration: none;" href="{% url 'faci_list' %}">🡄</a> Редактирование холста {% else %} Новый холст {% endif %}
{% endblock %}
{% block page_title %} Холст фасилитации {% endblock %}

{% block content %}
    {{ members|json_script:'members_json' }}
    <style>
        .card-body form {
            position: relative;
        }
        .form_sheet {
            position: absolute;
            top: 0;
            left: 0;
            background-color: ghostwhite;
            opacity: 90%;
            width: 100%;
            height: 100%;
        }
        
        /* ListDown */
        .form_listdown {
            position: relative;
        }
        .button_ss {cursor: pointer;}
        .suggestions {
            position:absolute;
            width: calc(110% + 15px);
            background: #faf143; text-align: left;
            font-size: 10pt;
            color: #0e283c;
            z-index: 100;
        }
        .suggestions div {padding: 4px 5px 4px 5px; border-bottom: 1px solid #dfa4a4; cursor: pointer;}
        .suggestions div:hover {background:#ffe4e4;}
    </style>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    1. Цель
                </div>
                <div class="card-body">
                    <form id="aim_form">
                        <div class="mb-3">
                            <label for="{{ form_aim.aim_type.id_for_label }}" class="form-label">{{ form_aim.aim_type.label }}</label>
                            {{ form_aim.aim_type }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form_aim.aim.id_for_label }}" class="form-label">{{ form_aim.aim.label }}</label>
                            {{ form_aim.aim }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form_aim.if_not_reached.id_for_label }}" class="form-label">{{ form_aim.if_not_reached.label }}</label>
                            {{ form_aim.if_not_reached }}
                        </div>

                        <input type="button" value="Сохранить{% if step == 1 %} и перейти к заполнению участников{% endif %}" class="form-control">
                   </form>
                </div>
            </div>
            
            <br>

            <div class="card">
                <div class="card-header">
                    2. Участники
                </div>
                <div class="card-body">
                    <form id="members_form">
                        <div id="app"></div>
                        <input type="button" value="Добавить" id="add_member_button" class="form-control">              
                        <div class="{% if step > 1 %}d-none {% endif %}form_sheet">Для открытия выполните 1-й шаг</div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    3. Повестка
                </div>
                <div class="card-body">
                    <form id="agenda_form">
                        <div class="{% if step > 2 %}d-none {% endif %}form_sheet">Для открытия заполните, пожалуйста, список участников (2-й шаг)</div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    4. Подготовка
                </div>
                <div class="card-body">
                    <form id="preparing_form">
                        <div class="mb-3">
                            <label for="{{ form_aim.dt_meeting.id_for_label }}" class="form-label">{{ form_aim.dt_meeting.label }}</label>
                            {{ form_aim.dt_meeting }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form_aim.duration.id_for_label }}" class="form-label">{{ form_aim.duration.label }}</label>
                            {{ form_aim.duration }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form_aim.place.id_for_label }}" class="form-label">{{ form_aim.place.label }}</label>
                            {{ form_aim.place }}
                        </div>
                        <div class="{% if step > 3 %}d-none {% endif %}form_sheet">Откроется после выполнения 3-го шага</div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    5. Ключевые мысли
                </div>
                <div class="card-body">
                    <form id="key_thoughts_form">
                        <div class="mb-3">
                            <label for="{{ form_aim.key_thoughts.id_for_label }}" class="form-label">{{ form_aim.key_thoughts.label }}</label>
                            {{ form_aim.key_thoughts }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form_aim.parked_thoughts.id_for_label }}" class="form-label">{{ form_aim.parked_thoughts.label }}</label>
                            {{ form_aim.parked_thoughts }}
                        </div>
                        <div class="{% if step > 4 %}d-none {% endif %}form_sheet">Станет доступно во время встречи (после шага 4)</div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    6. Договорённости
                </div>
                <div class="card-body">
                    <form id="agreements_form">
                        <div class="{% if step > 4 %}d-none {% endif %}form_sheet">Станет доступно во время встречи (после шага 4)</div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function custom_search_item(component) {
            $.ajax({
                url: "{% url 'search_user' %}",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                dataType: 'json',
                data: {search_string: component.query},
                success: function(result) {
                    let username;
                    for (username of result) {
                        component.item_list.push({'id': username, 'value': username});
                    }
                    if (component.item_list.length == 0) {
                        component.item_list.push({'id': null, 'value': 'пользователь не найден'});
                    }
                },
                error: function(jqxhr, a, b) {
                    console.log('error');
                    console.log(jqxhr.responseText);
                },
                method: "post"
            });
        }

        function custom_select_item(id, value) {
            return true;
        }
    
        const ListdownFieldItem = {
            props: ["key", "id", "value"],
            template: `<div v-on:click="$emit('select-item', id, value)">[[ value ]]</div>`,
        }
    
        const ListdownField = {
            props: ["key", "id", "value", "name", "edit"],
            template: `
<div class="component_listdown">
    <span class="button_ss" @click="edit_field" :class="{'d-none': is_edit}">[[ mvalue ]]</span>
    <div class="form_listdown" :class="{'d-none': !is_edit}">
        <input type='text' v-model.trim="query" @keyup="search_item" @blur="blur_field" class="field_listdown">
        <div class="suggestions">
            <listdown-field-item
                v-on:select-item="select_item"
                v-for="item in item_list"
                :value="item.value"
                :key="item.id"
                :id="item.id"
            ></listdown-field-item>
        </div>
        <input type="hidden" v-bind:name="name" v-model.trim="mid">
    </div>
</div>
`,
            data() {
                return {
                    mvalue: this.value,
                    query: '',
                    mid: this.id,
                    is_edit: this.edit,
                    item_list: [],
                }
            },
            methods: {
                edit_field(event) {
                    this.is_edit = true;
                    let self = this;
                    setTimeout(function() {
                        if (!self.query) self.query = self.mvalue;
                        event.target.parentNode.querySelector('.field_listdown').focus();
                    }, 20);
                },
                blur_field(event) {
                    let self = this;
                    setTimeout( // чтобы сначала отработало событие click на выбранном элементе
                        function() {self.is_edit = false;},
                        100,
                    );
                },
                search_item(event) {
                    this.item_list = [];
                    custom_search_item(this);
                },
                select_item(item_id, item_value) {
                    this.mid = item_id;
                    this.mvalue = item_value;
                    if (custom_select_item(item_id, item_value)) {
                        this.is_edit = false;
                        this.query = '';
                    }
                },
            },
            components: {
                ListdownFieldItem
            },
        }
    
        const ToggleField = {
            props: ["key", "id", "value", "name"],
            template: `
<div>
    <span class="el_sign" @click="edit_field" style="cursor: pointer;" :class="{'d-none': is_edit}">[[ mvalue ]]</span>
    <input v-model.trim="mvalue" v-bind:name="name" @blur="view_field" class="el_field" :class="{'d-none': !is_edit}"/>
</div>`,
            data() {
                return {mvalue: this.value, mid: this.id, previous_value: this.value, is_edit: false};
            },
            methods: {
                edit_field(event) {
                    this.is_edit = true;
                    let field = event.target.closest('div').querySelector('.el_field');
                    this.previous_value = this.mvalue;
                    setTimeout(function() {field.focus();}, 20);
                },
                view_field(event) {
                    if (this.mid) {
                        if (this.mvalue) {
                            if (this.mvalue != this.previous_value) {
                                this.is_edit = false;
                            }
                        } else {
                            this.mvalue = this.previous_value;
                            this.is_edit = false;
                        }
                    } else {
                        if (this.mvalue) {
                            this.is_edit = false;
                        } else {
                            this.mvalue = this.previous_value;
                            this.is_edit = false;
                        }
                    }
                },
            },
        }

        const MemberItem = {
            props: ["key", "member"],
            template: `
<tr>
    <td>
        <listdown-field
              :value="member.invited"
              :edit="member.edit"
              name="invited"
              :key="member.id"
              :id="member.id"
        ></listdown-field>
    </td>
    <td>
        <toggle-field
          :value="member.for_what"
          name="for_what"
          :key="member.id"
          :id="member.id"
        ></toggle-field>
    </td>
    <td>[[ member.inviting ]]</td>
</tr>`,
            components: {
                ListdownField, ToggleField
            },
        }

        const { createApp } = Vue

        var app = createApp({
            template: `
<table>
    <tr>
        <th>Участник</th>
        <th>В каком вопросе компетентен</th>
        <th>Кто пригласил</th>
    </tr>
    <member-item
        v-for="member in member_list"
        :member="member"
        :key="member.id"
    ></member-item>
</table>`,
            data() {
                return {
                     member_list: [{'id': '1', 'invited': 'user1', 'inviting': 'test uswr', 'for_what': 'специалист по квантовым процессам', 'edit': false}],
                    //member_list: JSON.parse(document.getElementById('members_json').textContent),
                }
            },
            methods: {
                add_member(event) {
                    this.member_list.push({'id': '', 'invited': '', 'inviting': '{{ request.user.username }}', 'for_what': 'цель приглашения?', 'edit': true});
                    setTimeout(function() {
                        //click_on_last('.app_name');
                    }, 20);
                },
            },
            components: {
                MemberItem
            },
            compilerOptions: {
                delimiters: ["[[", "]]"],
            },
        });
        app.config.compilerOptions.delimiters = [ '[[', ']]' ];
        var member_list = app.mount('#app');
    
        $("#add_member_button").click(member_list.add_member);
    </script>

    <script>
        function save_form_aim(event) {
            $.ajax({
                url: "",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                dataType: 'json',
                data: $(event.target.form).serialize(),
                success: function(result) {
                    if (result['id']) {
                        try {
                            history.pushState(null, null, location.href.replace('/new', '/'+result['id']));
                            $('#members_form .form_sheet')[0].classList.add('d-none');
                        } catch(e) {}
                    }
                },
                error: function(jqxhr, a, b) {
                    console.log('error');
                    console.log(jqxhr.responseText);
                },
                method: "post"
            });
        }
        
        $('#aim_form').change(save_form_aim);
    </script>
{% endblock %}